@model ARMS.ViewModels.BrowseViewModel
@{
    ViewData["Title"] = "Browse";
    var i = 0;
}

<div class="page-selection">
    <div>    
        <img class="m-x-15" src="@Url.Content("~/assets/icon/clock.png")" alt=""/>
        <label class="m-l-10 m-t-5" id="display-time"></label>
    </div>    
    <div>
        <label></label>
    </div>
</div>

<div class="page-detail">    
    <div>
        <label class="m-l-15">Student Name: <span>@Model.InquiryStudent.FullName</span>, and Student Code: <span>@Model.InquiryStudent.StudentCode</span>. Examination Schedule in <span>@Model.SessionText - @Model.SemesterText</span></label>
    </div>
</div>

<section class="page-table">
    <div class="col-md-12 col-lg-12">
        <div class="block block--underline">
            <div class="block__body text-left height-3">
                <div class="table-responsive">
                    <table id="table-examination-schedule" class="table table-bordered table-hover">
                        <thead>
                        <tr>    
                            <th class="mn-w-40px w-40px"><img class="w-15px h-15px" src="~/assets/icon/sort.png" alt=""/></th>
                            <th class="mn-w-250px w-auto">Course</th>
                            <th class="mn-w-150px w-150px">Section Number</th>
                            <th class="mn-w-200px w-200px">Examination Room</th>
                            <th class="mn-w-200px w-200px">Examination Seat</th>
                            <th class="mn-w-200px w-200px">@Model.SessionText On</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.InquiryStudent.ExaminationCourses)
                        {
                            i++;
                            <tr>
                                <td>@i.ToString()</td>
                                <td class="text-ellipsis mn-w-250px w-auto">@item.CodeAndName</td>
                                <td>@item.SectionNumber</td>
                                <td>@{
                                        var room = "No Room";
                                        if (item.Seat != null)
                                        {
                                            room = item.RoomName;
                                        }
                                        <span>@room</span>
                                    }
                                </td>
                                <td>@{
                                        var seat = "No Seat";
                                        if (item.Seat != null)
                                        {
                                            seat = item.Seat;
                                        }
                                        <span>@seat</span>
                                    }
                                </td>
                                <td>@{
                                        var exam = "No Examination";
                                        if (item.ExaminationDateTime != null)
                                        {
                                            exam = item.ExaminationDateTime;
                                        }
                                        <span>@exam</span>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        
        $.ajax({
            type: 'GET',
            url: `@Url.Action("CurrentDateTime", "Home")`,
            cache: true,
            dataType: 'json'
        }).done(function(res) {
            $('#display-time').text(`Updated At ${res['dateTime']}`)
        }).fail(function(a, b, c) {
            console.log('It is error');
            console.log(c);
        });
        
        const handleTable = $('#table-examination-schedule');
        handleTable.DataTable({
        "columnDefs": [{
            "targets": "no-sort",
            "orderable": false
            }]
        });
    }); 
</script>
