@{
    ViewData["Title"] = "Dashboard";
}

<div class="page-content">
    <div>
        <div class="page-selection">
            <div>    
                <img class="m-x-15" src="@Url.Content("~/assets/icon/dashboard.png")" alt=""/>
                <label class="m-l-10 m-t-5">Dashboard</label>
            </div>    
            <div>    
                <label class="m-x-10">Semester</label>
                <label for="semester"></label>
                <select id="semester" class="main-select">
                    <option selected="selected" disabled="disabled">Select Semester</option>
                </select>
                <label class="m-l-35 m-r-10">Session</label>
                <label for="session"></label>
                <select id="session" class="main-select">
                    <option selected="selected" disabled="disabled">Select Session</option>
                </select>
                <button id="button-search-dashboard" class="main-btn main-btn-second m-l-35 m-r-15" type="submit">
                    <img src="@Url.Content("~/assets/icon/search.png")" alt=""/> 
                    <span>Search</span>
                </button>
            </div>
        </div>
        
        <div id="dashboard-insight-partial"></div>
        <div id="dashboard-partial"></div>
    </div>
</div>

<script>
    $(document).ready(function() {
        const reload = $('div[id$=main-reloading]');
        const semesterSelect = $('#semester');
        const sessionSelect = $('#session');
        const btnSearchDashboard = $('#button-search-dashboard');
        const dashboardInsightPartial = $('#dashboard-insight-partial');
        const dashboardPartial = $('#dashboard-partial');
                    
        $.getJSON('@Url.Action("CompletionSemesters", "Home")', function(res) {
            let selectIndex = 0;
            semesterSelect.empty();
            semesterSelect.append('<option selected=selected disabled=disabled>Select Semester</option>');         
            $.each(res, function(index, data) { 
                  if (data['isCurrent'] === true) {
                      selectIndex = index + 1;
                      semesterSelect.append('<option value="' + data['id'] + '">' + data['semesterText'] + '</option>');
                  } else {
                      semesterSelect.append('<option value="' + data['id'] + '">' + data['semesterText'] + '</option>');
                  }
            });
            semesterSelect.prop('selectedIndex', selectIndex);
            loadSessions();
        });
        
        semesterSelect.change(function() {
            loadSessions();
        });
        
        function loadSessions() {
            reload.show();
            dashboardInsightPartial.empty();
            dashboardPartial.empty();
            const url = '@Url.Action("CompletionSessions", "Home")';
            $.ajax({
                type: 'POST',
                url: url,
                cache: true,
                dataType: 'json',
                data: { semesterId: semesterSelect.val() },
                success: function(res) {
                    sessionSelect.empty();
                    sessionSelect.append('<option selected=selected disabled=disabled>Select Session</option>');         
                    $.each(res, function(index, data) {
                        sessionSelect.append('<option value="' + data['examinationTypeId'] + '">' + data['nameEn'] + '</option>');
                    });
                    reload.hide(); 
                },
                error: function(error) {  
                    console.log('It is error!!!');
                    console.log(error);
                    loadErrorPage();
                }
            });
        }       
        
        sessionSelect.change(function() {
            dashboardInsightPartial.empty();
            dashboardPartial.empty();
        }); 
        
        btnSearchDashboard.click(function() {
            if (semesterSelect.val() != null && sessionSelect.val() != null) {
                reload.show();
                const url = `@Url.Action("DashboardInsight", "Dashboard")?semesterId=${semesterSelect.val()}&examinationTypeId=${sessionSelect.val()}`;
                $.ajax({
                    type: 'POST',
                    url: url,       
                    cache: true
                }).done(function(res) {
                    dashboardInsightPartial.empty().append(res);
                }).fail(function(a, b, c) {
                    console.log('It is error');
                    console.log(c);
                    loadErrorPage();
                });
            } else {
                dashboardInsightPartial.empty();
                dashboardPartial.empty();
            }
        });
        
        function loadErrorPage() {
            const url = '@Url.Action("ErrorPage", "Home")';
            $.ajax({
                type: 'GET',
                url: url,
                cache: true
            }).done(function(res) {
                $('#main-page').empty().append(res);
                reload.hide();
            })
        }
    });
</script>