@using Newtonsoft.Json
@model ARMS.ViewModels.BuildingViewModel
@{
    ViewData["Title"] = "Building";
    var i = 0;
}

<div class="page-selection">
    <div>    
        <img class="m-x-15" src="@Url.Content("~/assets/icon/clock.png")" alt=""/>
        <label class="m-l-10 m-t-5" id="display-time"></label>
    </div>    
    <div>
        <label></label>
    </div>
</div>

<section class="page-table">
    <div class="col-md-12 col-lg-12">
        <div class="block block--underline">
            <div class="block__body text-left height-3">
                <div class="table-responsive">
                    <table id="table-building" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="mn-w-40px w-40px"><img class="w-15px h-15px" src="~/assets/icon/sort.png" alt=""/></th>
                            <th class="mn-w-140px w-auto">Campus</th>    
                            <th class="mn-w-140px w-auto">English Name</th>
                            <th class="mn-w-140px w-auto">Thai Name</th>
                            <th class="mn-w-150px w-150px">Number of Floor</th>
                            <th class="mn-w-150px w-150px">Total Room</th>
                            <th class="mn-w-80px w-80px no-sort">Status</th>        
                            <th class="mn-w-80px w-80px no-sort">Action</th>
                            <th class="mn-w-100px w-100px">Created On</th>
                            <th class="mn-w-90px w-90px">Created By</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in JsonConvert.DeserializeObject<List<Building>>(Model.Buildings))
                        {
                            i++;
                            <tr>
                                <td>@i.ToString()</td>
                                <td>@item.CampusName</td>
                                <td>@item.NameEn</td>
                                <td>@item.NameTh</td>
                                <td>@($"{item.TotalFloor:n0}")</td>
                                <td>@($"{item.TotalRoom:n0}")</td>
                                <td>
                                    @{
                                        var status = "Active";
                                        var statusClass = "bg-success";
                                        if (!item.IsActive) {
                                            status = "Inactive";
                                            statusClass = "bg-danger";
                                        }
                                        <span class="label-status  @statusClass">@status</span>
                                    }
                                </td>
                                <td class="display-flex">
                                    <a asp-controller="Building" asp-action="Room" asp-route-buildingId="@item.Id" asp-route-buildingName="@item.NameEn" class="btn-image btn-image-info w-23px h-23px"><img class="w-15px h-15px" src="@Url.Content("~/assets/icon/info.png")" alt=""/></a> 
                                </td>
                                <td>
                                    @{
                                        var dateTime = $"{item.CreatedDate} {item.CreatedTime}";
                                        <span>@dateTime</span>
                                    }
                                </td>
                                <td>@item.CreatedBy</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>    
    $(document).ready(function() {
        
        $.ajax({
            type: 'GET',
            url: `@Url.Action("CurrentDateTime", "Home")`,
            cache: true,
            dataType: 'json'
        }).done(function(res) {
            $('#display-time').text(`Updated At ${res['dateTime']}`)
        }).fail(function(a, b, c) {
            console.log('It is error');
            console.log(c);
        });

        const reload = $('div[id$=main-reloading]');
        const buildingPartial = $('#building-partial');
        const handleTable = $('#table-building');
        handleTable.DataTable({
        "columnDefs": [{
            "targets": "no-sort",
            "orderable": false
            }]
        });

        handleTable.on('click', '.btn-image', function(event) {
            reload.show();
            event.preventDefault();
            const url = $(this).attr("href");
            $.post(url).done(function(result) {
                buildingPartial.html(result); 
                reload.hide();
            });
        });
    });
</script>